%html
  %head
    %script{type: "text/javascript", src: "/assets/application.js"}
    %script{type: "text/javascript", src: "/jst.js"}
    %script{type: "text/javascript", src: "/assets/views/control-panel.js"}

    %link{rel: "stylesheet", href: "/assets/line-chart.css"}
  %body
    = yield
