%html
  %head
    %script{type: "text/javascript", src: "/assets/vendors/jquery-2.1.1.min.js"}
    %script{type: "text/javascript", src: "/assets/vendors/underscore-min.js"}
    %script{type: "text/javascript", src: "/assets/vendors/backbone-min.js"}
    %script{type: "text/javascript", src: "/assets/vendors/d3.min.js"}
    %script{type: "text/javascript", src: "/assets/vendors/haml.js"}
    %script{type: "text/javascript", src: "/jst.js"}
    %script{type: "text/javascript", src: "/assets/views/line-chart.js"}
    %script{type: "text/javascript", src: "/assets/views/graph.js"}
    %script{type: "text/javascript", src: "/assets/views/control-panel.js"}

    %link{rel: "stylesheet", href: "/assets/line-chart.css"}
  %body
    = yield
